html {
    scroll-behavior: smooth;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

body {
    background-color: var(--clr);
    justify-content: center;
    align-items: center;
    font-family: Arial;
    box-sizing: border-box;
}

:root
{
    --clr: #ffffff;
}

.navigation
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 400px;
    height: 70px;
    background-color: #222327;
    color: #ffffff;
    border-radius: 10px;
}
.navigation ul
{
    display: flex;
    width: 250px;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon
{
    transform: translateY(-35px);
}
.navigation ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}
.indicator
{
    position: absolute;
    top: -50%;
    width: 60px;
    height: 60px;
    background: #1096d5;
    border-radius: 50%;
    border: 5px solid var(--clr);
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 20px;
    height: 30px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    width: 20px;
    height: 30px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}

.top {
    text-align: center;
    font-size: 40px;
}

p {
    text-align: center;
    font-size: x-large;
    margin-bottom: 35px;
}

.btn {
    padding: 0.5rem 2rem;
    border: 2px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    color: black;
    text-decoration: none;
}

.btn:hover {
    background: #f4f4f4;
}

.background {
    margin-top: 150px;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    margin-left: 50px;
    font-size: xx-large;
}

html,body {
    margin-left: auto;
    margin-right: auto;
}

label{
    margin-left: 50px;
    font-size: x-large;
    margin-bottom: 50px;
}

.wrapper{
    width: 370px;
    margin: 130px auto 0;
}
.select-btn, .options li{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.select-btn{
    height: 65px;
    font-size: 22px;
    padding: 0 20px;
    border-radius: 7px;
    background: #4ac6ff;
    justify-content: space-between;
}
.select-btn i{
    font-size: 31px;
    transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
    transform: rotate(-180deg);
}
.content{
    display: none;
    margin-top: 15px;
    padding: 20px;
    border-radius: 7px;
    background: #4ac6ff;
}
.wrapper.active .content{
    display: block;
}
.content.search{
    position: relative;
}
.search i{
    padding-left: 15px;
    line-height: 53px;
    position: absolute;
    color: #999;
    font-size: 20px;
}
.search input{
    height: 53px;
    width: 82%;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 15px 0 43px;
    outline: none;
    border: 1px solid #b3b3b3;
}
.content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
}
.options::-webkit-scrollbar{
    width: 7px;
}
.options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
}
.options li{
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
    border-radius: 5px;
}
.options li:hover, li.selected{
    background: #00ff8c;
}
